# Python bytecode/cache
__pycache__/
*.py[cod]

# Build/package outputs
dist/
build/
*.zip

# Blender backups/temp files
*.blend1
*.blend2
*.blend3
*.blend@*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json